# Force GitHub Linguist to analyze web files inside the docs/ folder
docs/**/*.html linguist-documentation=false
docs/**/*.html linguist-detectable=true
docs/**/*.js linguist-documentation=false
docs/**/*.js linguist-detectable=true
docs/**/*.css linguist-documentation=false
docs/**/*.css linguist-detectable=true
